*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    height: 95vh;
    width: 95;
    background: rgba(117, 117, 212, 0.884);
}

h1{
 font: 30pt bold;
 margin-left: 1100px;

}

footer{
    margin-top: 50px;
    margin-right: 100px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul{
    margin-top: 10px;
    margin-right: 170px;
}

.backgound{
    display: flex;
    justify-self: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.principal{
    display: flex;
    justify-self: flex-end;
    align-items: flex-end;
    flex-direction: column;
   
}
.p1{
    position: absolute;
    width: 150px;
    height: 50px;
    background: rgb(0,0,0);
    top: 50px;
    left: 300px;
}

.p2{
    position: absolute;
    width: 350px;
    height: 50px;
    background: rgb(0,0,0);
    top: 100px;
    left: 200px;
}

.p3{
    position: absolute;
    width: 150px;
    height: 50px;
    background: rgb(225,0,0);
    top: 100px;
    left: 300px;
}

.p4{
    position: absolute;
    width: 450px;
    height: 50px;
    background: rgb(0,0,0);
    top: 150px;
    left: 150px;
}

.p5{
    position: absolute;
    width: 350px;
    height: 50px;
    background: rgb(225,0,0);
    top: 150px;
    left: 200px;
}

.p6{
    position: absolute;
    width: 500px;
    height: 50px;
    background: rgb(0,0,0);
    top: 200px;
    left: 100px;
}

.p7{
    position: absolute;
    width: 400px;
    height: 50px;
    background: rgb(225,0,0);
    top: 200px;
    left: 150px;
}

.p8{
    position: absolute;
    width: 300px;
    height: 50px;
    background: rgb(0,0,0);
    top: 200px;
    left: 100px;
}

.p9{
    position: absolute;
    width: 550px;
    height: 50px;
    background: rgb(0,0,0);
    top: 250px;
    left: 100px;
}

.p10{
    position: absolute;
    width: 200px;
    height: 50px;
    background: rgb(225,0,0);
    top: 250px;
    left: 400px;
}

.p11{
    position: absolute;
    width: 300px;
    height: 50px;
    background: rgb(0,176,240);
    top: 250px;
    left: 150px;
}

.p12{
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgb(0,0,0);
    top: 250px;
    left: 400px;
}

.p13{
    position: absolute;
    width: 100px;
    height: 50px;
    background: rgb(255,255,255);
    top: 250px;
    left: 200px;
}

.p14{
    position: absolute;
    width: 700px;
    height: 50px;
    background: rgb(0,0,0);
    top: 300px;
    left: 50px;
}

.p15{
    position: absolute;
    width: 350px;
    height: 50px;
    background: rgb(0,176,240);
    top: 300px;
    left: 100px;
}

.p16{
    position: absolute;
    width: 150px;
    height: 50px;
    background: rgb(255,255,255);
    top: 300px;
    left: 150px;
}


.p17{
    position: absolute;
    width: 150px;
    height: 50px;
    background: rgb(225,0,0);
    top: 300px;
    left: 450px;
}



.p18{
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgb(191,191,191);
    top: 300px;
    left: 400px;
}

.p19{
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgb(0,0,0);
    top: 300px;
    left: 450px;
}

.p20{
    position: absolute;
    width: 750px;
    height: 50px;
    background: rgb(0,0,0);
    top: 350px;
    left: 50px;
}

.p21{ 
    position: absolute;
    width: 150px;
    height: 50px;
    background: rgb(255,255,255);
    top: 300px;
    left: 150px;
}


.p22{
    position: absolute;
    width: 300px;
    height: 50px;
    background: rgb(0,176,240);
    top: 350px;
    left: 100px;
}

.p23{
    position: absolute;
    width: 100px;
    height: 50px;
    background: rgb(225,0,0);
    top: 350px;
    left: 500px;
}

.p24{
    position: absolute;
    width: 100px;
    height: 50px;
    background: rgb(191,191,191);
    top: 350px;
    left: 350px;
}

.p25{
    position: absolute;
    width: 100px;
    height: 50px;
    background: rgb(225,0,0);
    top: 350px;
    left: 650px;
}

.p26{
    position: absolute;
    width: 100px;
    height: 50px;
    background: rgb(225,0,0);
    top: 400px;
    left: 650px;
}



.p28{
    position: absolute;
    width: 100px;
    height: 50px;
    background: rgb(225,0,0);
    top: 400px;
    left: 650px;

}

.p29{
    position: absolute;
    width: 700px;
    height: 50px;
    background: rgb(0,0,0);
    top: 400px;
    left: 100px;
}

.p30{
    position: absolute;
    width: 250px;
    height: 50px;
    background: rgb(191,191,191);
    top: 400px;
    left: 150px;
}

.p31{
    position: absolute;
    width: 150px;
    height: 50px;
    background: rgb(225,0,0);
    top: 400px;
    left: 450px;
}

.p32{
    position: absolute;
    width: 100px;
    height: 50px;
    background: rgb(225,0,0);
    top: 400px;
    left: 650px;
}

.p33{
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgb(192,0,0);
    top: 400px;
    left: 550px;
}

.p34{
    position: absolute;
    width: 700px;
    height: 50px;
    background: rgb(0,0,0);
    top: 450px;
    left: 100px;
}

.p35{
    position: absolute;
    width: 200px;
    height: 50px;
    background: rgb(225,0,0);
    top: 450px;
    left: 400px;
}

.p36{
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgb(192,0,0);
    top: 450px;
    left: 550px;
}

.p37{
    position: absolute;
    width: 100px;
    height: 50px;
    background: rgb(192,0,0);
    top: 450px;
    left: 650px;
}

.p38{
    position: absolute;
    width: 700px;
    height: 50px;
    background: rgb(0,0,0);
    top: 500px;
    left: 100px;
}

.p39{
    position: absolute;
    width: 400px;
    height: 50px;
    background: rgb(225,0,0);
    top: 500px;
    left: 150px;
}

.p40{
    position: absolute;
    width: 150px;
    height: 50px;
    background: rgb(192,0,0);
    top: 500px;
    left: 450px;
}

.p41{
    position: absolute;
    width: 100px;
    height: 50px;
    background: rgb(192,0,0);
    top: 500px;
    left: 650px;
}

.p42{
    position: absolute;
    width: 650px;
    height: 50px;
    background: rgb(0,0,0);
    top: 500px;
    left: 150px;
}


.p43{
    position: absolute;
    width: 450px;
    height: 50px;
    background: rgb(225,0,0);
    top: 500px;
    left: 150px;
}

.p44{
    position: absolute;
    width: 100px;
    height: 50px;
    background: rgb(192,0,0);
    top: 500px;
    left: 500px;
}

.p45{
    position: absolute;
    width: 100px;
    height: 50px;
    background: rgb(192,0,0);
    top: 500px;
    left: 650px;
}

.p46{
    position: absolute;
    width: 700px;
    height: 50px;
    background: rgb(0,0,0);
    top: 550px;
    left: 100px;
}

.p47{
    position: absolute;
    width: 450px;
    height: 50px;
    background: rgb(225,0,0);
    top: 550px;
    left: 150px;
}

.p48{
    position: absolute;
    width: 100px;
    height: 50px;
    background: rgb(192,0,0);
    top: 550px;
    left: 650px;
}

.p49{
    position: absolute;
    width: 150px;
    height: 50px;
    background: rgb(192,0,0);
    top: 550px;
    left: 450px;
}

.p50{
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgb(192,0,0);
    top: 550px;
    left: 150px;
}

.p51{
    position: absolute;
    width: 650px;
    height: 50px;
    background: rgb(0,0,0);
    top: 600px;
    left: 100px;
}

.p52{
    position: absolute;
    width: 450px;
    height: 50px;
    background: rgb(192,0,0);
    top: 600px;
    left: 150px;
}


.p53{
    position: absolute;
    width: 100px;
    height: 50px;
    background: rgb(10,0,0);
    top: 600px;
    left: 650px;
}

.p54{
    position: absolute;
    width: 550px;
    height: 50px;
    background: rgb(0,0,0);
    top: 650px;
    left: 100px;
}

.p55{
    position: absolute;
    width: 100px;
    height: 50px;
    background: rgb(192,0,0);
    top: 650px;
    left: 150px;
}

.p56{
    position: absolute;
    width:150px;
    height: 50px;
    background: rgb(192,0,0);
    top: 650px;
    left: 450px;
}

.p57{
    position: absolute;
    width: 550px;
    height: 50px;
    background: rgb(0,0,0);
    top: 700px;
    left: 100px;
}

.p58{
    position: absolute;
    width:100px;
    height: 30px;
    background: rgb(192,0,0);
    top: 700px;
    left: 150px;
}

.p59{
    position: absolute;
    width:100px;
    height: 30px;
    background: rgb(192,0,0);
    top: 700px;
    left: 500px;
}

.p60{
    position: absolute;
    width:100px;
    height: 30px;
    background: rgb(0,0,0);
    top: 750px;
    left: 150px;
}

.p61{
    position: absolute;
    width:100px;
    height: 30px;
    background: rgb(0,0,0);
    top: 750px;
    left: 500px;
}